<!DOCTYPE html>
<html>
<head>
    <title>Playlist</title>
    <link rel="stylesheet" type="text/css" href="/css/playlist.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    </style>
</head>
<body>
    <div class="header">
        <h1>Playlist: <%= playlistName %></h1>
    </div>
    <div class="movies-container">
        <ul>
            <% if (movies && movies.length > 0) { %>
                <% movies.forEach(movie => { %>
                    <li>
                        <div class="movie-info">
                            <div class="poster">
                                <img src="<%= movie.poster %>" alt="<%= movie.title %> Poster"> <!-- Display the poster -->
                            </div>
                            <div class="details">
                                <p><%= movie.title %> (<%= movie.year %>)</p> <!-- Movie title and year -->
                            </div>
                        </div>
                    </li>
                <% }) %>
            <% } else { %>
                <li>No movies found in this playlist.</li>
            <% } %>
        </ul>
    </div>
    <a href="/list">Back to My Lists</a>
</body>
</html>